.page-header
  = link_to new_restaurant_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Restaurant
  %h1 Restaurants

.row
  - @restaurants.each do |restaurant|
    .col-md-4
      .thumbnail
        - restaurant.photos.each do |photo|
          = image_tag attachment_url(photo, :image), size: "484x400", link_to: "/restaurants/#{restaurant.id}"
        .caption
          %h5
            %font{:size => "6"}= restaurant.name
          %p
            = restaurant.phone
            •
            = restaurant.phone
            •
            = restaurant.phone
          %p
            = restaurant.name
            •
            = restaurant.address
          %p
            %a.btn.btn-primary{:href => "/restaurants/#{restaurant.id}", :role => "button"} View
