.page-header
  = link_to edit_restaurant_path(@restaurant), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1
    = @restaurant.name

.col-md-6
  = image_tag attachment_url(@restaurant.photos.first, :image), size: "484x400"

.col-md-6
  %dl.dl-horizontal
    %dt Address:
    %dd= @restaurant.address
    %dt Phone:
    %dd= @restaurant.phone
    %dt Website:
    %dd= @restaurant.website
    %dt Hours:
    %dd= @restaurant.hours
    %dt Price:
    %dd= @restaurant.price
    %dt Cuisine:
    %dd= @restaurant.cuisine
    %dt Menu:
    %dd= @restaurant.menu_id
